@CHARSET "ISO-8859-1";

body{
	background-image: url("https://wallpaperscraft.com/image/dark_background_line_surface_65896_602x339.jpg");
}

p{
	font-size: 35px;
	font-weight: bold;
}

#container {
	width:1000px;
	margin: 0 auto;
}

#bright_side{
	float:left;
	width:500px;
	text-align: center;
}

#dark_side{
	float:right;
	width:500px;
	text-align: center;
}

#header{
	height: 200px;
}

#bright_side_statistic{
	height: 200px;
}

#dark_side_statistic{
	height: 200px;
}

.blue{
	color:blue;
}

.red{
	color:red;
}

.big{
	font-size: 40px;
}

.grey{
	color :grey;
}

.center{
	text-align: center;
}