@CHARSET "ISO-8859-1";

.class {
  margin: 0, auto;
}

.mdl-textfield__input {
  border-bottom: 1px solid rgba(0, 0, 0, .45) !important;
}

.mdl-textfield__label {
  color: rgba(0,0,0,0.45);
}

.mdl-radio{
  margin-bottom: 35px;
}

#pointsInput{
  margin: 30px 0 30px 0;
}

#fail {
  color: #d50000;
  border-bottom: 1px solid #d50000;
  font-size: 16px;
}
