@CHARSET "ISO-8859-1";

body{
	background-image: url("https://wallpaperscraft.com/image/dark_background_line_surface_65896_602x339.jpg");
}

p{
	font-weight: bold;
}

h1{
	font-weight: bold;
	margin-bottom: 100px;
	text-decoration: underline;
}

#container {
	width:1800px;
	margin: 0 auto;
}

#bright_side{
	float:left;
	width:897px;
	border-right: 3px solid green;
}

#dark_side{
	float:right;
	width:900px;
}

#bright_header{
	float: right;
	height: 200px;
	padding-right: 70px;
}

#dark_header{
	height: 200px;
	float: left;
	padding-left: 70px;
}

#bright_side_statistic{
	height: 550px;
}

#dark_side_statistic{
	height: 550px;
}

#bright_counter{
	float: right;
	padding-right: 70px;
}

#dark_counter{
	float: left;
	padding-left: 70px;
}

#bright_image{
	float: left;
	padding-top: 70px;
	padding-left: 100px;
	height: 450px;
}

#dark_image{
	float: right;
	padding-right: 100px;
	padding-top: 70px;
	height: 450px;
}

.blue{
	color:blue;
}

.red{
	color:red;
}

.big{
	font-size: 60px;
}

.middle{
	font-size: 50px;
}

.grey{
	color :grey;
}

.center{
	text-align: center;
}