@CHARSET "ISO-8859-1";

body{
	background-image: url("http://einladung.berufsbildungscenter.ch/images/mainimage.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h2{
	font-weight: bold;
	color: white;
}

h1{
	font-weight: bold;
	margin-bottom: 100px;
	text-decoration: underline;
}

#container {
	width:93.75%;
	margin: 0 auto;
}

#bright_side{
	float:left;
	width:20.83%;
	border-right: 3px solid white;
	margin-left: 27%;
	height:90%
}

#dark_side{
	float:right;
	width:20.83%;
	margin-right: 26%;
	height:90%
}

#bright_header{
	float: right;
	padding-right: 7.8%;
}

#dark_header{
	float: left;
	padding-left: 7.8%;
}

#bright_side_statistic{
<<<<<<< HEAD
	height: 50vh;
	float: left;
	padding-left: 40%;
}

#dark_side_statistic{
	height: 50vh;
	float: right;
	padding-right: 40%;
=======
	height: 550px;
}

#dark_side_statistic{
	height: 550px;
>>>>>>> origin/master
}

#bright_counter{
	float: right;
<<<<<<< HEAD
	padding-right: 6.25%;
=======
	padding-right: 120px;
>>>>>>> origin/master
}

#dark_counter{
	float: left;
<<<<<<< HEAD
	padding-left: 6.25%;
=======
	padding-left: 120px;
>>>>>>> origin/master
}

.big{
	font-size: 60px;
}

.middle{
	font-size: 50px;
}

.grey{
	color :grey;
}

.center{
	text-align: center;
}
<<<<<<< HEAD
<<<<<<< HEAD

=======
=======
>>>>>>> origin/master
/*lightsabers fomating*/

#blueTip, #blueBlade, #redTip, #redBlade{
	width: 50px;
}

#blueTip, #blueBlade{
	margin-left: 150px;
}

#redTip, #redBlade{
	margin-left: 250px;
}

#blueTip, #redTip{
	height: 30px;
}

#blueBlade, #redBlade{
	height: 248px;
}

#blueHandle{
	margin-left: 157px;
	width: 35px;
	height: 120px;
}

#redHandle{
	margin-left: 258px;
	width: 37px;
	height: 120px;
}

#placeholderBlueHandle, #placeholderRedHandle{
	height: 446px;
}

#placeholderBlueBlade, #placeholderRedBlade{
	height: 198px;
}

#placeholderBlueTip, #placeholderRedTip{
	height: 168px;
}

/*end lightsabers*/
